body{
    font-family: 'Lato', sans-serif;
}
$text-color: white;

.blockInstructions{
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.blockContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
    .blockContainer__civ {
        background-color: rebeccapurple;
        color: $text-color;
        .blockContainer__civ-uniqueUnit{
            background-color: rebeccapurple ;
            border: none;
            color: $text-color;
            :visited{
                color: $text-color;
            }
        }
    }
    .blockContainer__unit {
        background-color: $text-color;
        color: black;
    }
}




